body { background-color: #fff; color: #333; }
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
body {
	margin: 23px 13px 13px 13px;
	background: #f0f0f0;
	text-align: center;
}
a {
	color: #000;
	text-decoration: underline;
}
h3 a, h3 a:link, h3 a:visited {
	text-decoration: none;
}
a:link { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
a img {
	border: none;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
h4 {
	margin: 0 0 2px 0;
	padding: 0;
	text-indent: 3px;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	line-height: 13px;
}
h5 {
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: normal;
	text-indent: 10px;
	color: #000;
	font-size: 11px;
	line-height: 11px;
}
.content h3 a:visited {
	color: #000;
}
.content h3 a:hover {
	color: #fff;
	background-color: #000;
}
blockquote {
	color: #666666;
	font-size: 10px;
}
#wrapper {
	padding: 0;
	margin: 0 auto;
	text-align: left;
	width: 754px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 742px;
}
#container {
	line-height: 140%;
	margin: 0 auto;
	text-align: left;
	padding: 0 20px 0px 20px;
	border: 1px solid #ccc;	
	background-color: #FFFFFF;
	width: 742px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 700px;
	}
#header {
	height: 115px;
	font-size: 20px;
	padding: 0;
	margin: 0;
	background: url(/assets/spodcast-logo.jpg);
	border: 1px solid #ccc;
	text-align: left;
}
#header h1 {
	display: none;
}
#center {
	float: left;
	width: 500px;
	overflow: hidden;
}
.content {
	padding: 15px 20px 5px 0px;
	background-color: #FFFFFF;
	color: #333;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: small;
}
#right {
	float: left;
	width: 200px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.content p {
	color: #333;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height:16px;
	text-align: left;
	margin-bottom: 10px;
}
.content blockquote {
	line-height: 150%;
}
.content li {
	line-height: 150%;
}
.content h1 {
	color: #ccc;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	text-align: left;
	font-weight: normal;
	margin-bottom: 15px;
	font-size: 18px;
}
.content h2 {
	color: #333;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: normal;
	border-bottom: 1px dotted #CCCCCC;
	text-align: left;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 3px;
}
.content h2 a {
	text-decoration: none;
}
.content h3 {
	color: #000000;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	margin-bottom: -10px;	
}
.sidebar {
	margin: 20px 0px 20px 0px;
	padding: 0px 0px 0px 20px;
	border-left: 1px dotted #ccc;
}

.sidebar h2, .sidebar h3 {
	color: #660000;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: small;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	font-weight: bold;
	padding: 0;
	margin: 0 0 2px 0;
}
.sidebar h3 {
	color: #333;
	border-bottom: 1px dotted #ccc;
	margin-top: -5px;
}
.sidebar p {
	font-size: small;
}
.sidebar img {
	border: none;
}
#Footer {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #666;
	font-size: 9px;
	padding: 0 0 0 40px;
	margin: 5px auto 20px auto;
	text-align: left;
	width: 780px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 740px;
}
code, pre	{
	text-indent: 10px;
	padding: 3px;
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	background: inherit;
	background-color: #efefef;
	color: #333;
	font-size: 105%
}
* html code	{
	font-size : 105%; 
}
